$color-principal: #ba61c8;
$color-secundario: #ec84d4;
$color-texto: #1d1010;

$fuente-principal: 'Poppins', sans-serif;
$fuente-secundaria: 'Playfair Display', serif;
$fuente-acento: 'Courier New', monospace;

$espaciado-grande: 40px;
$espaciado-mediano: 20px;
$espaciado-pequeno: 10px;