/* TABLET */

@media (max-width: 1024px) {

    .contenedor-destacados {
        gap: 20px;
    }

    .card-destacado {
        max-width: 300px;
    }
}

/* MOBILE */

@media (max-width: 768px) {

    body {
        background-position: center;
    }

    header img {
        width: 160px;
    }

    main {
        padding: 15px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    /* NAV */
    .navbar-nav{
        width: 100%;
        text-align: center;
    }

    .navbar-nav .nav-item{
        margin:10px 0;
    }

    .navbar-nav .nav-link{
        font-size: 1.1rem;
        padding:10px 0;
        display: block;
    }

    .navbar-custom .navbar-collapse {
        background: rgba(255, 255, 255, 0.95);
        padding: 20px;
        border-radius: 20px;
        margin-top: 10px;
        text-align: center;
    }

    .nav-custom .nav-link {
        text-align: center;
        padding: 10px 0;
    }

    /* HERO / BIENVENIDA */
    .bienvenida {
        padding: 50px 15px;
        text-align: center;
    
        h1 {
        font-size: 2rem;
        }
    
        .subtitulo {
        font-size: 1.1rem;
        }
    }

    .linea-decorativa p {
        font-size: 0.9rem;
    }

    /* DESTACADOS */
    .contenedor-destacados {
        flex-direction: column;
        align-items: stretch;
        padding: 20px 10px;
    }

    .contenedor-testimonios {
        grid-template-columns: 1fr;
    }

    .slider-container {
        overflow: hidden;
    }

    .destacados-slider{
        overflow: hidden;
        gap: 0;
    }

    .card-destacado{
        min-width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .slider-btn{
        display: block;
    }

    /* DIFERENCIALES */
    .diferenciales-grid {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }

    .diferenciales-grid p,
    .beneficio p {
        text-align: center;
    }

    .beneficios h2 {
        font-size: 2.4rem;
        line-height: 1.3;
        padding: 0 10px;
    }
    

    /* TESTIMONIOS */
    .testimonios-grid {
        grid-template-columns: 1fr;
        max-width: 100%;
        text-align: center;
    }

    /* PRODUCTOS */
    .productos {
        grid-template-columns: 1fr;
        justify-items: center;
    
        .card-producto {
            flex: none;
            width: 100%;
            max-width: 100%;
        }
    }

    .lista-productos {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* CTA*/

    .cta-final {
        padding: 60px 20px;
        margin: 50px 15px;
    
        h2 {
        font-size: 1.6rem;
        }
    }

    /* CONTACTO */
    .contacto-contenido {
        flex-direction: column;
        gap: 40px;
    }

    .info-contacto,
    .formulario-contacto {
        width: 100%;
        max-width: 100%;
    }


    /* BOTON VER MAS */
    .ver-mas {
        width: auto;
        display: inline-flex;
        padding: 6px 16px;
        align-self: center;
    }
}

/* MOBILE PEQUEÑOS */

@media (max-width: 480px) {

    header img {
        width: 130px;
    }

    main {
        padding: 15px;
    }

    /* TITULOS */

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    /* HERO */

    .bienvenida {
        padding: 40px 10px;

        .subtitulo {
            font-size: 1rem;
        }
    }

    /* CARDS */

    .card-destacado {
        padding: 20px;
    }

    .card-destacado img {
        height: 180px;
    }

    /* BOTONES */

    .ver-mas {
        padding: 5px 14px;
        font-size: 0.9rem;
    }

    .btn-comprar {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
